<footer>
  <div class="footer-section-container">
    <div class="footer-heading-text">
      DarxForge
    </div>
    <div class="footer-links-section">
      <div class="links-part-1">
        <div class="about-us-links">
          <div class="about-us-heading">About Us</div>
          <a (click)="scrollToSection('services')">Services</a>
          <a (click)="scrollToSection('work')">Work</a>
          <a (click)="scrollToSection('faqs')">FAQs</a>
        </div>
        <div class="connect-with-us-links">
          <div class="connect-with-us-heading">Connect With Us</div>
          <a href="https://www.facebook.com" target="_blank" rel="noopener noreferrer">Facebook</a>
          <a href="https://www.twitter.com" target="_blank" rel="noopener noreferrer">Twitter</a>
          <a href="https://www.instagram.com" target="_blank" rel="noopener noreferrer">Instagram</a>
          <a href="https://www.linkedin.com" target="_blank" rel="noopener noreferrer">LinkedIn</a>
        </div>
      </div>
      <div class="links-part-2">
        <div class="quick-links-section">
          <div class="quick-links-section-heading">Quick Links</div>
          <a (click)="scrollToSection('about')" routerLink="/contact-us" routerLinkActive="active">Contact Us</a>
          <a routerLink="/terms-and-conditions" routerLinkActive="active">Terms of Service</a>
          <a routerLink="/privacy-policy" routerLinkActive="active">Privacy Policy</a>
        </div>
        <div class="support-section">
          <a href="mailto:support@darkxforge.com">support&#64;darkxforge.com</a>
          <a href="tel:+94774399432">Phone: +94 77 43 99 432</a>
        </div>
      </div>
    </div>
    <div class="copy-right-text">
      © 2024 DarxForge. All Rights Reserved.
    </div>
  </div>
</footer>
