.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000; /* Black background for contrast */
  overflow: hidden;
  margin: 0px -12px 0px -12px;
}

.loading-image {
  max-width: 80vw; /* Makes it responsive */
  max-height: 50vh; /* Prevents it from becoming too large */
  object-fit: contain;
  animation: zoomIn 2.5s ease-in-out infinite; /* Keeps the animation */
  opacity: 0;
}

@keyframes zoomIn {
  0% {
    transform: scale(0.5) translateZ(-500px);
    opacity: 0;
  }
  50% {
    transform: scale(1.2) translateZ(-100px);
    opacity: 1;
  }
  100% {
    transform: scale(1) translateZ(0);
    opacity: 1;
  }
}
