.navbar{
  position: fixed; /* Fixes the navbar at the top of the page */
  top: 0;
  left: 0;
  width: 100%; /* Ensures the navbar spans the full width of the viewport */
  padding: 10px 20px;
  z-index: 1000;
}
