  <div class="privacy-policy-container">
    <h1>Privacy Policy</h1>
    <div class="content">
      <p>
        Welcome to KAALIPROJECTS, accessible from <a href="https://www.kaaliprojects.com" target="_blank">www.kaaliprojects.com</a>. One of our main priorities is the privacy of our visitors. This Privacy Policy document contains the types of information we collect and record and how we use it.
      </p>

      <h2>Consent</h2>
      <p>By using our website, you hereby consent to our Privacy Policy and agree to its terms.</p>

      <h2>Information We Collect</h2>
      <p>
        The personal information you are asked to provide and the reasons for providing it will be made clear to you at the point we ask for your details.
      </p>

      <h2>Technical Data</h2>
      <p>
        We collect technical information, such as your IP address, browser type, operating system, and browsing activity on our website, using cookies and similar technologies to improve your experience.
      </p>

      <h2>How We Use Your Information</h2>
      <ul>
        <li>Provide, operate, and maintain our website</li>
        <li>Understand and analyze how you use our website</li>
        <li>Develop new products, services, and features</li>
        <li>Communicate with you for customer service and updates</li>
        <li>Prevent fraud and ensure security</li>
      </ul>

      <h2>Cookies and Tracking</h2>
      <p>
        We use cookies to enhance your experience. By continuing to use our website, you consent to our use of cookies. You can disable cookies via your browser settings.
      </p>

      <h2>Children’s Privacy</h2>
      <p>
        Kaali Projects does not knowingly collect personal identifiable information from children under 13. If you believe your child has provided such information, please contact us.
      </p>

      <h2>Data Protection Rights</h2>
      <p>We respect your rights under data protection laws:</p>
      <ul>
        <li>The right to access – Request copies of your data</li>
        <li>The right to rectify – Correct inaccurate or incomplete data</li>
        <li>The right to erase – Request deletion of your personal data</li>
        <li>The right to restrict or object to processing</li>
        <li>The right to data portability</li>
      </ul>
      <p>Contact us at   <a href="mailto:support&#64;darkxforge.com">support&#64;darkxforge.com</a>.
        to exercise these rights.</p>

      <h2>Contact Us</h2>
      <p>If you have any questions, contact us at:</p>
      <p>Email: <a href="mailto:support@darkxforge.com">support&#64;darkxforge.com</a></p>
      <p>Phone: +94 77 43 99 432</p>
    </div>
  </div>
  <app-footer></app-footer>
