<div class="nav-section">
  <div class="nav-logo-text" routerLink="/" routerLinkActive="active">
    <img src="assets/Logo_0.png">
  </div>
  <div class="notch">
    <div routerLink="/" routerLinkActive="active" href="#work" (click)="scrollToSection('work')" class="work-text">Work</div>
    <div routerLink="/" routerLinkActive="active" href="#services" (click)="scrollToSection('services')" class="services-text">Services</div>
    <div routerLink="/" routerLinkActive="active" href="#about" (click)="scrollToSection('about')" class="about-text">Connect</div>
    <div routerLink="/" routerLinkActive="active" class="scroll-top-icon" (click)="scrollToTop()" class="scroll-to-top-icon">  <img class="scroll-icon-svg" src="assets/Slide%20Up.svg" alt="Example SVG"> </div>
  </div>
  <div class="social-media-links">
    <a href="https://www.youtube.com/@KaaliProjects" target="_blank" rel="noopener noreferrer"><img class="instagram-icon" src="assets/youtube2.png"></a>
    <a href="https://www.facebook.com/kaaliproject/" target="_blank" rel="noopener noreferrer"><img class="facebook-icon" src="assets/facebook.png"></a>
    <a href="tel:+94774399432"><img class="call-icon" src="assets/phone-call.png"></a>
  </div>
</div>
