<div class="body">
  <div class="main-content">
  <div class="section-heading">
    <div class="heading-row-1">
      <p class="your">Building</p>
      <p class="design">Creative</p>
    </div>
    <div class="heading-row-2">
      <p class="plus">Inspiring</p>
      <p class="ai">Legacies</p>
      <p class="plus">Together</p>
    </div>
    <div class="heading-row-3">
      <p class="pinnacle-of-brilliance"></p>
    </div>
    <div class="section-para">
      We collaborate to craft inspiring, creative legacies that leave a lasting impact, ensuring your brand evolves and stands out for years to come.
    </div>
  </div>

    <div class="stats-section">
      <div class="stats-container">
        <div class="stat">
          <h1>97+</h1>
          <p>Clients</p>
        </div>
        <div class="stat">
          <h1>10+</h1>
          <p>Years of Experience</p>
        </div>
        <div class="stat">
          <h1>573+</h1>
          <p>Campaigns</p>
        </div>
      </div>
      <div class="showcase-section">
        <div class="showcase-heading">
          Elevate Your Brand.
          Start Growing.
        </div>
        <div class="showcase-scroll-wrapper" (scroll)="onScroll($event)">
          <div class="showcase-cards-group">
            <div class="showcase-single-card">
              <div class="card-header">
                <div class="client-info">
                  <p class="client-title">Explore</p>
                </div>
              </div>
              <div class="card-content">
                <div class="client-role">
                  <img src="/assets/wired-flat-950-attract-customers-hover-pinch.webp" alt="Animated Icon" />
                </div>
                <div class="feedback-box">
                  <p class="feedback-text">Get a glimpse of our creative approach and innovative ideas.</p>
                </div>
              </div>
            </div>
            <div class="showcase-single-card">
              <div class="card-header">
                <div class="client-info">
                  <p class="client-title">Craft</p>
                </div>
              </div>
              <div class="card-content">
                <div class="client-role">
                  <img src="/assets/wired-flat-1249-heart-beat-hover-heart-beat.webp" alt="Animated Icon" />
                </div>
                <div class="feedback-box">
                  <p class="feedback-text">See how we bring brands to life through bold strategies.</p>
                </div>
              </div>
            </div>
            <div class="showcase-single-card">
              <div class="card-header">
                <div class="client-info">
                  <p class="client-title">Inspire</p>
                </div>
              </div>
              <div class="card-content">
                <div class="client-role">
                  <img src="/assets/wired-flat-153-bar-chart-hover-growth.webp" alt="Animated Icon" />
                </div>
                <div class="feedback-box">
                  <p class="feedback-text">Discover how we empower businesses to connect and grow.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="showcase-heading">
      Why Choose Us?
    </div>

  <!--  design section-->
  <div id="services" class="design-section" >
    <img class="design-section-bg-img" src="assets/Rectangle 6designSectionBgBlob (2).svg">
    <div class="design-section-overlay">
      <div class="design-section-heading">
        <p class="design-section-heading-line-1">Visionary Strategy for</p>
        <p class="design-section-heading-line-2">Success</p>
      </div>
      <div class="design-section-content">
        <div class="design-section-image">
          <img class="design-section-image-svg" src="assets/Frame 133.svg">
        </div>
        <div class="design-section-sub-text">
          We think beyond the present, crafting strategies that ensure long-term success and innovation.
        </div>
      </div>
    </div>
  </div>
  <!--  engineering section-->
  <div class="engineering-section">
    <img class="engineering-section-bg-img" src="assets/Rectangle%207engineeringBgSvg%20(1).svg">
    <div class="engineering-section-overlay">
      <div class="engineering-section-heading">
        <p class="engineering-section-heading-line-1">Transforming Ideas</p>
        <p class="engineering-section-heading-line-2">into Results</p>
      </div>
      <div class="engineering-section-content">
        <div class="engineering-section-sub-text">
          Our campaigns drive meaningful results, turning your goals into measurable achievements.
        </div>
        <div class="engineering-section-image">
          <img class="engineering-section-image-svg" src="assets/Frame%2088engineeringBlobImg.svg">
        </div>
      </div>
    </div>
  </div>
  <!--AI section -->
  <div class="ai-section">
    <img class="ai-section-bg-img" src="assets/Rectangle%208aisectionBgImgSvg%20(2).svg">
    <div class="ai-section-overlay">
      <div class="ai-section-heading">
        <p class="ai-section-heading-line-1">Partnering for Lasting</p>
        <p class="ai-section-heading-line-2">Success</p>
      </div>
      <div class="ai-section-content">
        <div class="ai-section-image">
          <img class="ai-section-image-svg" src="assets/Frame%20133%20(1).svg">
        </div>
        <div class="ai-section-sub-text">
          We’re more than a service provider; we’re a partner committed to your growth.
        </div>
      </div>
    </div>
  </div>
  <!--  projects section-->
  <!--  client testimonial section -->
  <div class="client-section-container">
    <div class="testimonial-container">
      <div class="testimonal-title">
        What Clients Say. Our Impact in Action.
      </div>
      <div class="testimonial-cards-wrapper" (scroll)="onScroll($event)">
        <div class="testimonial-cards-container">
          <div class="testimonial-card">
            <div class="card-upper-section">
              <div class="name-container">
                <p class="client-name">Alex J</p>
              </div>
              <div class="client-dp">
                <img class="client-dp-image-svg" src="assets/Rectangle%204clientDp.svg">
              </div>

            </div>
            <div class="card-lower-section">
              <div class="client-professsion">
                <p class="client-profession-text">
                  Co-founder
                </p>

              </div>
              <div class="client-feedback-container">
                <p class="client-feedback">"Incredible commitment to excellence. Transformative solutions!"</p>
              </div>

            </div>
          </div>
          <div class="testimonial-card">
            <div class="card-upper-section">
              <div class="name-container">
                <p class="client-name">Alex J</p>
              </div>
              <div class="client-dp">
                <img class="client-dp-image-svg" src="assets/Rectangle%204clientDp.svg">
              </div>

            </div>
            <div class="card-lower-section">
              <div class="client-professsion">
                <p class="client-profession-text">
                  Co-founder
                </p>

              </div>
              <div class="client-feedback-container">
                <p class="client-feedback">"Incredible commitment to excellence. Transformative solutions!"</p>
              </div>

            </div>
          </div>
          <div class="testimonial-card">
            <div class="card-upper-section">
              <div class="name-container">
                <p class="client-name">Alex J</p>
              </div>
              <div class="client-dp">
                <img class="client-dp-image-svg" src="assets/Rectangle%204clientDp.svg">
              </div>

            </div>
            <div class="card-lower-section">
              <div class="client-professsion">
                <p class="client-profession-text">
                  Co-founder
                </p>

              </div>
              <div class="client-feedback-container">
                <p class="client-feedback">"Incredible commitment to excellence. Transformative solutions!"</p>
              </div>

            </div>
          </div>
          <div class="testimonial-card">
            <div class="card-upper-section">
              <div class="name-container">
                <p class="client-name">Alex J</p>
              </div>
              <div class="client-dp">
                <img class="client-dp-image-svg" src="assets/Rectangle%204clientDp.svg">
              </div>

            </div>
            <div class="card-lower-section">
              <div class="client-professsion">
                <p class="client-profession-text">
                  Co-founder
                </p>

              </div>
              <div class="client-feedback-container">
                <p class="client-feedback">"Incredible commitment to excellence. Transformative solutions!"</p>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--  project portfolio section-->
<!--  <div id="work" class="portfolio-section-container">-->
<!--    <div class="portfolio-section-content">-->
<!--      <div class="portfolio-section-heading">-->
<!--        Our Masterpieces.<br>Your Inspiration.-->
<!--      </div>-->
<!--      <div class="portfolio-section-video-container">-->
<!--        <div class="portfolio-section-video-webM">-->
<!--          <video id="video1" class="portfolio-video" src="assets/Video1.webm" autoplay loop></video>-->
<!--          <video id="video2" class="portfolio-video" src="assets/video2.webm" autoplay loop></video>-->
<!--          <video id="video3" class="portfolio-video" src="assets/video3.webm" autoplay loop></video>-->
<!--        </div>-->
<!--        <div class="portfolio-navigation-container">-->
<!--          <div class="nav-dot" data-video="video1"></div>-->
<!--          <div class="nav-dot" data-video="video2"></div>-->
<!--          <div class="nav-dot" data-video="video3"></div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

    <div class="showcase-heading-2">
      Trusted by Leading Brands
    </div>

<!--Client logos section-->
    <div class="client-logos-section">
      <div class="logo-row left-to-right">
        <img src="assets/Layer%202.svg" alt="Client 1" />
        <img src="assets/760-x-600-Abans.svg" alt="Client 2" />
        <img src="assets/og-sunquick.svg" alt="Client 3" />
        <img src="assets/SLTMobitel_Logo.svg%20(1).svg" alt="Client 4" />
      </div>
      <div class="logo-row right-to-left">
        <img src="assets/dominos-logo4.svg" alt="Client 5" />
        <img src="assets/images.svg" alt="Client 6" />
        <img src="assets/220518130506footer_logo.svg" alt="Client 7" />
        <img src="assets/images%20(6)%20(1).svg" alt="Client 8" />
      </div>
      <div class="logo-row left-to-right">
        <img src="assets/images%20(2).svg" alt="Client 9" />
        <img src="assets/logo%201.svg" alt="Client 10" />
        <img src="assets/images%20(1)%20(1).svg" alt="Client 11" />
        <img src="assets/Caltex-Logo.wine%201.svg" alt="Client 12" />
      </div>
      <div class="logo-row right-to-left">
        <img src="assets/motorola-new7974%201.svg" alt="Client 13" />
        <img src="assets/images%20(4).svg" alt="Client 14" />
        <img src="assets/Trango-Holdings-(Pvt)-Ltd%20(1).svg" alt="Client 15" />
        <img src="assets/logo%201.svg" alt="Client 16" />
      </div>
    </div>

    <!-- contact us section  -->
  <div id="about" class="contact-us-section-container">
    <div class="contact-us-form-container">
      <div class="lets-talk-heading">
        Let’s Talk
      </div>
      <div class="form-section">
        <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <div class="name-phone-number-container">
              <div class="form-name-container" >
                <mat-form-field appearance="outline" class="full-width" >
                  <mat-label>Name</mat-label>
                  <input matInput formControlName="firstName" required>
                </mat-form-field>
              </div>
              <div class="phone-container">
                <mat-form-field appearance="outline" class="full-width">
                  <mat-label>Phone Number</mat-label>
                  <input matInput formControlName="phoneNumber" required>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="email-container">
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" type="email" required>
              </mat-form-field>
            </div>
          </div>
          <div class="form-group">
            <div class="description-send-button-container">
                <div class="description-container-text">
                  <mat-form-field appearance="outline" class="full-width">
                    <mat-label> Tell us a little bit about yourself</mat-label>
                    <textarea matInput formControlName="description" rows="5"></textarea>
                  </mat-form-field>
                </div>


            </div>
          </div>
          <div class="form-group">

            <div class="send-button-container">
              <div class="form-group submit-button">
                <button mat-raised-button color="primary" type="submit" [disabled]="!contactForm.valid" >
                  Submit
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="follow-us-container">
      <div class="follow-us-text-with-button">
        <div class="follow-us-on-insta-text">
          Follow us on <br>
          Instagram
        </div>
        <div class="follow-us-insta-icon">
          <img src="assets/Frame%20148.svg">
        </div>
      </div>

    </div>
  </div>
  </div>
  <app-footer></app-footer>
</div>
