<div class="body">
  <div class="main-content">
  <div class="section-heading">
    <div class="heading-row-1">
      <p class="your">Building</p>
      <p class="design">Creative</p>
    </div>
    <div class="heading-row-2">
      <p class="plus">Inspiring</p>
      <p class="ai">Legacies</p>
      <p class="plus">Together</p>
    </div>
    <div class="heading-row-3">
      <p class="pinnacle-of-brilliance"></p>
    </div>
    <div class="section-para">
      We collaborate to craft inspiring, creative legacies that leave a lasting impact, ensuring your brand evolves and stands out for years to come.
    </div>
  </div>

    <div class="stats-section">
      <div class="stats-container">
        <div class="stat">
          <h1>81+</h1>
          <p>Clients</p>
        </div>
        <div class="stat">
          <h1>4+</h1>
          <p>Years of Experience</p>
        </div>
        <div class="stat">
          <h1>522+</h1>
          <p>Campaigns</p>
        </div>
      </div>
      <div class="showcase-section">
        <div class="showcase-heading">
          Elevate Your Brand.
          Start Growing.
        </div>
        <div class="showcase-scroll-wrapper" (scroll)="onScroll($event)">
          <div class="showcase-cards-group">
            <div class="showcase-single-card">
              <div class="card-header">
                <div class="client-info">
                  <p class="client-title">Explore</p>
                </div>
              </div>
              <div class="card-content">
                <div class="client-role">
                  <img src="/assets/wired-flat-950-attract-customers-hover-pinch.webp" alt="Animated Icon" />
                </div>
                <div class="feedback-box">
                  <p class="feedback-text">Get a glimpse of our creative approach and innovative ideas.</p>
                </div>
              </div>
            </div>
            <div class="showcase-single-card">
              <div class="card-header">
                <div class="client-info">
                  <p class="client-title">Craft</p>
                </div>
              </div>
              <div class="card-content">
                <div class="client-role">
                  <img src="/assets/wired-flat-1249-heart-beat-hover-heart-beat.webp" alt="Animated Icon" />
                </div>
                <div class="feedback-box">
                  <p class="feedback-text">See how we bring brands to life through bold strategies.</p>
                </div>
              </div>
            </div>
            <div class="showcase-single-card">
              <div class="card-header">
                <div class="client-info">
                  <p class="client-title">Inspire</p>
                </div>
              </div>
              <div class="card-content">
                <div class="client-role">
                  <img src="/assets/wired-flat-153-bar-chart-hover-growth.webp" alt="Animated Icon" />
                </div>
                <div class="feedback-box">
                  <p class="feedback-text">Discover how we empower businesses to connect and grow.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="showcase-heading">
      Why Choose Us?
    </div>

  <!--  design section-->
  <div id="services" class="design-section" >
    <img class="design-section-bg-img" src="assets/Rectangle6designSectionBgBlob(2).webp">
    <div class="design-section-overlay">
      <!-- Modified HTML -->
      <div class="design-section-heading">
        <p class="design-section-heading-line-1">
          <span class="typing-animation">Visionary Strategy for</span>
        </p>
        <p class="design-section-heading-line-2">
          <span class="typing-animation">Success</span>
        </p>
      </div>
      <div class="design-section-content">
        <div class="design-section-image">
          <img class="design-section-image-svg" src="assets/Frame149.png">
        </div>
        <div class="design-section-sub-text">
          We think beyond the present, crafting strategies that ensure long-term success and innovation.
        </div>
      </div>
    </div>
  </div>
  <!--  engineering section-->
  <div class="engineering-section">
    <img class="engineering-section-bg-img" src="assets/Rectangle7engineeringBgSvg(1).webp">
    <div class="engineering-section-overlay">
      <div class="engineering-section-heading">
        <p class="engineering-section-heading-line-1">Transforming Ideas</p>
        <p class="engineering-section-heading-line-2">into Results</p>
      </div>
      <div class="engineering-section-content">
        <div class="engineering-section-sub-text">
          Our campaigns drive meaningful results, turning your goals into measurable achievements.
        </div>
        <div class="engineering-section-image">
          <img class="engineering-section-image-svg" src="assets/Frame88engineeringBlobImg.webp">
        </div>
      </div>
    </div>
  </div>
  <!--AI section -->
  <div class="ai-section">
    <img class="ai-section-bg-img" src="assets/Rectangle8aisectionBgImgSvg(2).webp">
    <div class="ai-section-overlay">
      <div class="ai-section-heading">
        <p class="ai-section-heading-line-1">Partnering for Lasting</p>
        <p class="ai-section-heading-line-2">Success</p>
      </div>
      <div class="ai-section-content">
        <div class="ai-section-image">
          <img class="ai-section-image-svg" src="assets/Frame133(1).webp">
        </div>
        <div class="ai-section-sub-text">
          We’re more than a service provider; we’re a partner committed to your growth.
        </div>
      </div>
    </div>
  </div>
  <!--  projects section-->
  <!--  client testimonial section -->
  <div class="client-section-container">
    <div class="testimonial-container">
      <div class="testimonal-title">
        What Clients Say. Our Impact in Action.
      </div>
      <div id="work" class="testimonial-cards-wrapper" (scroll)="onScroll($event)">
        <div class="testimonial-cards-container">
          <div class="testimonial-card">
            <div class="card-upper-section">
              <div class="name-container">
                <p class="client-name">Alyna H</p>
              </div>
              <div class="client-dp">
                <img class="client-dp-image-svg" src="assets/AlynaHajiOmar.webp">
              </div>

            </div>
            <div class="card-lower-section">
              <div class="client-professsion">
                <p class="client-profession-text">
                  Founder, Audacity
                </p>

              </div>
              <div class="client-feedback-container">
                <p class="client-feedback">"Working with Kaali is like riding a digital lightning bolt—fearless, electrifying, and impossible to ignore. He doesn’t just create; he conquers, and you find yourself winning right alongside him. The audacity of Kaali is thrilling - we love working with him and his team!"</p>
              </div>

            </div>
          </div>
          <div class="testimonial-card">
            <div class="card-upper-section">
              <div class="name-container">
                <p class="client-name">Ishara B</p>
              </div>
              <div class="client-dp">
                <img class="client-dp-image-svg" src="assets/Ishara.webp">
              </div>

            </div>
            <div class="card-lower-section">
              <div class="client-professsion">
                <p class="client-profession-text">
                  Owner, Ceylon Furniture
                </p>

              </div>
              <div class="client-feedback-container">
                <p class="client-feedback">"We just wanted to take a moment to thank you for the incredible videos you created for Ceylon Furniture. Your creativity, energy, and the way you connected with your audience truly exceeded our expectations.

                  The feedback we’ve been getting from viewers has been overwhelmingly positive, and it’s clear your efforts played a significant role in driving awareness for our brand. Collaborating with you was an absolute pleasure, and we genuinely appreciate your professionalism and dedication throughout the process.

                  Looking forward to working together again in the future!"</p>
              </div>

            </div>
          </div>
          <div class="testimonial-card">
            <div class="card-upper-section">
              <div class="name-container">
                <p class="client-name">Dayan K</p>
              </div>
              <div class="client-dp">
                <img class="client-dp-image-svg" src="assets/dayanK.webp">
              </div>

            </div>
            <div class="card-lower-section">
              <div class="client-professsion">
                <p class="client-profession-text">
                  Founder, MD Mishrawarna PVT Ltd
                </p>

              </div>
              <div class="client-feedback-container">
                <p class="client-feedback">"I had the pleasure of working with Kali on the Olympiad Mathematics Certification Process (OMCP) project, and I couldn’t be more impressed. Kali quickly grasped the essence of our product and produced highly engaging and effective videos that perfectly aligned with our brand. The content was delivered on time, generated valuable leads, and significantly boosted our project’s visibility. I highly recommend Kali for any content creation or marketing endeavors. Wishing him all the best in his future endeavors!"</p>
              </div>

            </div>
          </div>
          <div class="testimonial-card">
            <div class="card-upper-section">
              <div class="name-container">
                <p class="client-name">Dilshan A</p>
              </div>
              <div class="client-dp">
                <img class="client-dp-image-svg" src="assets/dilshann.webp">
              </div>

            </div>
            <div class="card-lower-section">
              <div class="client-professsion">
                <p class="client-profession-text">
                  CEO, Olee AI
                </p>

              </div>
              <div class="client-feedback-container">
                <p class="client-feedback">"Collaborating with Kaali Projects has been a delight. Their passion for creativity and marketing is evident in everything they do. Truly outstanding!"</p>
              </div>

            </div>
          </div>
          <div class="testimonial-card">
            <div class="card-upper-section">
              <div class="name-container">
                <p class="client-name">Kavinda K</p>
              </div>
              <div class="client-dp">
                <img class="client-dp-image-svg" src="assets/kavinda.webp">
              </div>

            </div>
            <div class="card-lower-section">
              <div class="client-professsion">
                <p class="client-profession-text">
                  Co – Founder, Affinity
                </p>

              </div>
              <div class="client-feedback-container">
                <p class="client-feedback">"I’ve had the privilege of working with Kaali for the past four years on multiple campaigns, and it’s been an incredible journey. Together, we’ve not only created some amazing work but also won several local and global awards, which is a testament to the impact of what we do.

                  Working with Kaali is genuinely easy—he’s reliable, dedicated, and always brings his best to the table. Most of the campaigns we’ve worked on have been results-driven, and Kaali has a remarkable knack for not just meeting but exceeding client expectations.

                  What really stands out is his commitment and creativity, which make a huge difference in how the work lands with clients and audiences alike. If you’re looking for someone who delivers results and makes the process enjoyable, Kaali is your guy."</p>
              </div>

            </div>
          </div>
          <div class="testimonial-card">
            <div class="card-upper-section">
              <div class="name-container">
                <p class="client-name">Mohenesh C</p>
              </div>
              <div class="client-dp">
                <img class="client-dp-image-svg" src="assets/mohanesh.webp">
              </div>

            </div>
            <div class="card-lower-section">
              <div class="client-professsion">
                <p class="client-profession-text">
                  Vice President, dentsu communications
                </p>

              </div>
              <div class="client-feedback-container">
                <p class="client-feedback">"I sometimes wish I hadn’t met Kaali—not because he’s difficult or arrogant, but because he’s just that good. As a creator, he’s redefined gaming innovation, and together, we’ve built award-winning projects that feel like magic. What’s even more impressive is who he is as a person: humble, generous, and always pushing everyone around him to do better. While his talent is undeniable, it’s his work ethic and genuine passion that set him apart. Working with Kaali has been inspiring, but it’s also a reminder of how high the bar can be. He’s the kind of person who makes you want to hate him for being so good, but you can’t, because he’s also one of the best people you’ll ever know."</p>
              </div>

            </div>
          </div>
          <div class="testimonial-card">
            <div class="card-upper-section">
              <div class="name-container">
                <p class="client-name">Arosha P</p>
              </div>
              <div class="client-dp">
                <img class="client-dp-image-svg" src="assets/arosha.webp">
              </div>

            </div>
            <div class="card-lower-section">
              <div class="client-professsion">
                <p class="client-profession-text">
                  Impact Specialist, AP Consultant Solutions
                </p>

              </div>
              <div class="client-feedback-container">
                <p class="client-feedback">"Kaali was able to turn a strategic civic engagement exercise in to a high traction series of youth video content. 4.8 million views and success on all KPI’s are a testament to his objective creativity."</p>
              </div>

            </div>
          </div>
          <div class="testimonial-card">
            <div class="card-upper-section">
              <div class="name-container">
                <p class="client-name">Arosha P</p>
              </div>
              <div class="client-dp">
                <img class="client-dp-image-svg" src="assets/rashmitha.webp">
              </div>

            </div>
            <div class="card-lower-section">
              <div class="client-professsion">
                <p class="client-profession-text">
                  Founder, Incend
                </p>

              </div>
              <div class="client-feedback-container">
                <p class="client-feedback">"Hands down, one of my favorite personalities to collaborate with! Working with Kaali on various projects has been incredibly rewarding and enjoyable. The creativity he puts on to the table  is truly unmatched, bringing fresh and innovative ideas to the table every time. What I admire most about him is his agility and flexibility in his work. No matter the situation, he adapts effortlessly and delivers with precision. His passion and ability to think outside the box make every project seamless and successful. I look forward to continuing this journey and seeing the incredible impact he will make in the industry. Best of luck!"</p>
              </div>

            </div>
          </div>
          <div class="testimonial-card">
            <div class="card-upper-section">
              <div class="name-container">
                <p class="client-name">Malinda A</p>
              </div>
              <div class="client-dp">
                <img class="client-dp-image-svg" src="assets/malindha.webp">
              </div>

            </div>
            <div class="card-lower-section">
              <div class="client-professsion">
                <p class="client-profession-text">
                  Science Communicator
                </p>

              </div>
              <div class="client-feedback-container">
                <p class="client-feedback">"Collaborating with Kaali on multiple podcasts has been enlightening. His talent lies in breaking down complex topics through carefully structured questions that guide viewers to clear understanding. What sets him apart is his unwavering commitment to production excellence - from crystal-clear audio to engaging animations, every detail enhances the viewing experience."</p>
              </div>

            </div>
          </div>
          <div class="testimonial-card">
            <div class="card-upper-section">
              <div class="name-container">
                <p class="client-name">Wicky</p>
              </div>
              <div class="client-dp">
                <img class="client-dp-image-svg" src="assets/wicky.webp">
              </div>

            </div>
            <div class="card-lower-section">
              <div class="client-professsion">
                <p class="client-profession-text">
                  Content Creator
                </p>

              </div>
              <div class="client-feedback-container">
                <p class="client-feedback">"I have had the distinct pleasure of collaborating with Project Kaali on a variety of digital marketing initiatives over the past several years. Throughout our engagements, the team consistently demonstrated a high degree of professionalism, maintained clear and effective lines of communication, and exhibited an unwavering commitment to achieving exceptional outcomes. Their ability to foster a congenial and collaborative working environment ensured that each project proceeded seamlessly and was an enjoyable experience. I highly value their expertise and dedication and eagerly anticipate the continuation of our successful partnership in the years ahead."</p>
              </div>

            </div>
          </div>
          <div class="testimonial-card">
            <div class="card-upper-section">
              <div class="name-container">
                <p class="client-name">Lash</p>
              </div>
              <div class="client-dp">
                <img class="client-dp-image-svg" src="assets/lash.webp">
              </div>

            </div>
            <div class="card-lower-section">
              <div class="client-professsion">
                <p class="client-profession-text">
                  Content Creator
                </p>

              </div>
              <div class="client-feedback-container">
                <p class="client-feedback">"I’ve had the pleasure of collaborating with Kaali on multiple projects. It has been very easy to work with a flexible and open minded person like him, and his work is well coordinated and professional. I always had the freedom to come up with my own ideas and creativity when working with him. Cheers to more projects together."</p>
              </div>

            </div>
          </div>
          <div class="testimonial-card">
            <div class="card-upper-section">
              <div class="name-container">
                <p class="client-name">Sahanaka W</p>
              </div>
              <div class="client-dp">
                <img class="client-dp-image-svg" src="assets/sanaka.webp">
              </div>

            </div>
            <div class="card-lower-section">
              <div class="client-professsion">
                <p class="client-profession-text">
                  Content Creator
                </p>

              </div>
              <div class="client-feedback-container">
                <p class="client-feedback">"I had the opportunity to collaborate with Kaali in one of my youtube content and this guy nailed it. In this short period of time that i have got to know him i understood that, this guy is a fucking genius in marketing and strategy planning who never disappoints his clients. He knows how to play, he knows his whereabouts and his skills. Personally this guy was an huge inspiration for my content creating journey."</p>
              </div>

            </div>
          </div>
          <div class="testimonial-card">
            <div class="card-upper-section">
              <div class="name-container">
                <p class="client-name">Andriya S</p>
              </div>
              <div class="client-dp">
                <img class="client-dp-image-svg" src="assets/andria.webp">
              </div>

            </div>
            <div class="card-lower-section">
              <div class="client-professsion">
                <p class="client-profession-text">
                  Content Creator
                </p>

              </div>
              <div class="client-feedback-container">
                <p class="client-feedback">"It was a pleasure to work with Kaali, he knew exactly what needed to be done and executed it flawlessly. The uniqueness of Kaali Projects is that they will make it work, no matter what. They’ll meet the objectives just in time and in the most efficient way possible.  And not everyone can achieve that level of excellence. Simply the best!"</p>
              </div>

            </div>
          </div>
          <div class="testimonial-card">
            <div class="card-upper-section">
              <div class="name-container">
                <p class="client-name">Nimna</p>
              </div>
              <div class="client-dp">
                <img class="client-dp-image-svg" src="assets/nimna.webp">
              </div>

            </div>
            <div class="card-lower-section">
              <div class="client-professsion">
                <p class="client-profession-text">
                  Content Creator
                </p>

              </div>
              <div class="client-feedback-container">
                <p class="client-feedback">"We have worked with Kaali in several projects last year. We were available to complete them to successfully as Kaali understood and supported us by providing the creator freedom and other necessary and timely arrangements of the clients end. Moreover, working with Kaali was easier as he briefed and did break down all key elements of the campaign.  Overall, it was great working with him."</p>
              </div>

            </div>
          </div>

        </div>
      </div>
    </div>
  </div>


    <div class="showcase-heading-2">
      Trusted by Leading Brands
    </div>

<!--Client logos section-->
    <div class="client-logos-section">
      <div class="logo-row left-to-right">
        <img src="assets/Layer%202.svg" alt="Client 1" />
        <img src="assets/760-x-600-Abans.svg" alt="Client 2" />
        <img src="assets/samsung.jpg" alt="Client 2" />
        <img src="assets/og-sunquick.svg" alt="Client 3" />
        <img src="assets/SLTMobitel_Logo.svg%20(1).svg" alt="Client 4" />
      </div>
      <div class="logo-row right-to-left">
        <img src="assets/dominos-logo4.svg" alt="Client 5" />
        <img src="assets/images.svg" alt="Client 6" />
        <img src="assets/220518130506footer_logo.svg" alt="Client 7" />
        <img src="assets/images%20(6)%20(1).svg" alt="Client 8" />
      </div>
      <div class="logo-row left-to-right">
        <img src="assets/images%20(2).svg" alt="Client 9" />
        <img src="assets/logo%201.svg" alt="Client 10" />
        <img src="assets/images%20(1)%20(1).svg" alt="Client 11" />
        <img src="assets/Caltex-Logo.wine%201.svg" alt="Client 12" />
      </div>
      <div class="logo-row right-to-left">
        <img src="assets/motorola-new7974%201.svg" alt="Client 13" />
        <img src="assets/images%20(4).svg" alt="Client 14" />
        <img src="assets/sera.png" alt="Client 15" />
        <img src="assets/logo%201.svg" alt="Client 16" />
      </div>
    </div>

    <!-- contact us section  -->
  <div id="about" class="contact-us-section-container">
    <div class="contact-us-form-container">
      <div class="lets-talk-heading">
        Let’s Talk
      </div>
      <div class="form-section">
        <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <div class="name-phone-number-container">
              <div class="form-name-container" >
                <mat-form-field appearance="outline" class="full-width" >
                  <mat-label>Name</mat-label>
                  <input matInput formControlName="firstName" required>
                </mat-form-field>
              </div>
              <div class="phone-container">
                <mat-form-field appearance="outline" class="full-width">
                  <mat-label>Phone Number</mat-label>
                  <input matInput formControlName="phoneNumber" required>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="email-container">
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" type="email" required>
              </mat-form-field>
            </div>
          </div>
          <div class="form-group">
            <div class="description-send-button-container">
                <div class="description-container-text">
                  <mat-form-field appearance="outline" class="full-width">
                    <mat-label> Tell us a little bit about yourself</mat-label>
                    <textarea matInput formControlName="description" rows="5"></textarea>
                  </mat-form-field>
                </div>


            </div>
          </div>
          <div class="form-group">

            <div class="send-button-container">
              <div class="form-group submit-button">
                <button mat-raised-button color="primary" type="submit" [disabled]="!contactForm.valid" >
                  Submit
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="follow-us-container">
      <div class="follow-us-text-with-button">
        <div class="follow-us-on-insta-text">
          Stay tuned on <br>
          YouTube
        </div>
        <div class="follow-us-insta-icon">
          <a href="https://www.youtube.com/" target="_blank" rel="noopener noreferrer"><img src="assets/youtube.png"></a>
        </div>
      </div>

    </div>
  </div>
  </div>
  <app-footer></app-footer>
</div>
